:root {
  --body-color: rgb(18, 18, 18);
  --text-color: #ebebeb;
  --blue-color: rgb(94, 201, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: var(--text-color);
}
/* <--------------- UNIVERSAL ---------------> */

html {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}
/* <--------------- HEAD TO TOP NAVIGATOR ---------------> */

.navigator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  height: 7vh;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.ul-center li a:hover,
.ul-right li a:hover,
.nav-container a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgb(94, 201, 255);
}

.ul-center li a:hover i,
.ul-right li a:hover i {
  color: rgb(94, 201, 255);
}

a {
  text-decoration: none;
  padding: 0.8rem;
  font-size: 1rem;
}
/* <--------------- TOP NAVIGATOR TO INSIDE NAVIGATOR ---------------> */

.name-nav {
  gap: 2 rem;
  padding: 0.8rem;
  color: var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
}

.ul-c {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.right-nav {
  display: flex;
  justify-content: right;
  margin: 0;
}

.ul-r {
  display: flex;
  list-style-type: none;
  gap: 0;
}
/* <--------------- INSIDE NAVIGATOR TO MAIN ---------------> */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.intro {
  max-width: 900px;
  padding: 0 20px;
}

.profile-pic {
  width: 30vw;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  background-color: rgb(18, 18, 18);
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 50px rgba(94, 201, 255, 0.6);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: clamp(3rem, calc(2vw + 1rem), 7rem);
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
  font-family: "Manrope";
}

.body-description {
  font-size: 1rem;
  text-align: center;
  margin-top: 1.3rem;
}
/* <--------------- LOGO WITHIN MAIN ---------------> */

.div-logo {
  margin-top: 15px;
}

.ul-logo {
  list-style: none;
  display: flex;
}

.ul-logo li a {
  font-size: 30px;
  color: var(--text-color);
}
/* <--------------- PROJECT HEADING ---------------> */
section {
  margin-top: 70px;
}

.project-heading-container {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.project-heading-container hr {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.project-heading {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside {
  width: fit-content;
  background-color: var(--body-color);
  padding-right: 30px;
  font-size: 22px;
  z-index: 1;
  color: var(--blue-color);
}

.project-heading i {
  padding-left: 30px;
  padding-right: 15px;
  color: var(--blue-color);
}

/* <--------------- PROJECT LIST ---------------> */

.projects-list {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
}

.project {
  height: 520px;
  background-color: rgb(22, 21, 21);
  border-radius: 10px;
  border: 2px solid white;
  position: relative;
  padding: 25px;
}
/* <--------------- PROJECTS WITHIN ---------------> */

.title {
  text-align: left;
  color: var(--blue-color);
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid var(--text-color);
  margin-top: 30px;
  padding-bottom: 15px;
}

.frame img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  max-height: 180px;
  display: block;
  margin: 20px auto;
}

.description {
  text-align: left;
  color: white;
  font-size: 12px;
  font-style: italic;
  border-top: 1px solid var(--text-color);
  padding-top: 15px;
  margin-bottom: 15px;
}

.prog-lang {
  text-align: left;
  color: white;
  font-size: 12px;
  border-top: 1px solid var(--text-color);
  padding-top: 5px;
}

.logo-outer-frame {
  display: flex;
}

.logo-frame {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo-frame img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  margin: 0;
  display: block;
}
/* <--------------- MEDIA ---------------> */

/* Mobile (small devices) */
@media (max-width: 590px) {
  .ul-center {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .projects-list {
    grid-template-columns: 1fr !important;
  }
  .inside {
    font-size: 20px;
  }
}

/* Tablets (medium devices) */
@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small laptops / large tablets */
@media (max-width: 1024px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktops (larger screens) */
@media (min-width: 1025px) {
  .projects-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
